<template>
  <v-app>
    <navbar />
    <v-content>
      <router-view class="scrollbar"/>
    </v-content>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar';

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");

html {
  height: 100%;
}

:root {
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

.theme--dark.v-application {
  background-color: #36393f !important;
}
</style>
