<template>
  <div id="blob-design">
    <img
      src="@/assets/img/art-1.png"
      alt="10"
      :width="mobile ? '45%' : '22%'"
      style="position: absolute; top: 0; left: 0;"
      :style="{left: mobile ? '0': '0'}"
    />
    <img
      src="@/assets/img/art-4.png"
      alt="10"
      :width="mobile ? '42%' : '20%'"
      style="position: absolute; top: 0;"
      :style="{right: mobile ? '2vw' : '8vw'}"
    />
    <img
      src="@/assets/img/art-3.png"
      alt="10"
      :width="mobile ? '23%' : '11%'"
      style="position: absolute; top: 0;"
      :style="{right: mobile ? '43vw' : '41vw'}"
    />
    <img
      src="@/assets/img/art-5.png"
      alt="10"
      :width="mobile ? '50%' : '24%'"
      style="position: absolute; bottom: 0;"
      :style="{right: mobile ? '0' : '0'}"
    />
    <img
      src="@/assets/img/art-6.png"
      alt="10"
      :width="mobile ? '0%' : '11%'"
      style="position: absolute; bottom: 0;"
      :style="{left: mobile ? '65vw' : '65vw'}"
    />
    <img
      src="@/assets/img/art-2.png"
      alt="10"
      :width="mobile ? '50%' : '25%'"
      style="position: absolute; bottom: 0;"
      :style="{left: mobile ? '2vw' : '5vw'}"
    />
  </div>
</template>

<script>
export default {
  name: 'BlobDesign',
};
</script>

<style lang="scss" scoped>
#blob-design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
</style>