<template>
  <div id="home" :class="{'home-mobile': mobile}">
    <blob-design />
    <v-row justify="center" align="center" class="mx-0 text-center" style="z-index: 1; position: relative; flex-direction: column; width: 100%; height: 100%; margin-top: -50px">
      <div class="mb-3">
        <div>
          <h1 :class="mobile ? 'display-1' : 'display-3'">514,318 members</h1>
          <h1 :class="mobile ? 'display-1' : 'display-3'" class="mt-3">2,132 servers</h1>
        </div>
        <div class="mt-5" style="margin: auto;">
          <v-btn elevation="12" to="/servers" class="start-button" :style="{padding: mobile ? '2rem' : '2.5rem'}">Start Buying</v-btn>
          <v-btn elevation="12" to="/plans" class="start-button" :style="{padding: mobile ? '2rem' : '2.5rem'}">Start Selling</v-btn>
        </div>
      </div>
    </v-row>
  </div>
</template>

<script>
import BlobDesign from '@/components/Home/BlobDesign';

export default {
  name: 'Home',
  components: {
    BlobDesign
  }
}
</script>

<style lang="scss" scoped>
#home {
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../assets/img/background.png');
  z-index: 0;
}

#home:before {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #32353b;
  opacity: 0.98;
  content: '';
  z-index: 1;
}

.home-mobile {
  background-position-y: 12vh !important;
}

.start-button {
  font-size: 1.8rem !important;
  margin: 10px;
  width: 310px;
}
</style>