<template>
  <div id="login">
  </div>
</template>

<script>
import { verifyLogin } from '@/utils/api';

export default {
  name: 'Login',
  async created() {
    if (!this.code) {
      location.href = '/auth/discord/login';
      return;
    }

    const token = await verifyLogin(this.code);
    await this.$store.dispatch('setToken', token);
  },
  computed: {
    code() {
      return this.$route.query.code;
    }
  }
}
</script>

<style scoped>

</style>
