<template>
  <div v-if="!!server" id="manage-server">
    <v-row class="ma-7">
      <v-col cols="12" md="6" class="px-4">
        <server-details :one-line-server-name="false" :title-size="mobile ? null : 'headline'" :server="server"
                        style="height: 15vh;"/>
        <server-description :value="server.description" class="mt-7" editable />
      </v-col>
      <v-col cols="12" md="6" class="px-4">
        <server-plan-list :plans="server.plans" editable @addPlan="addPlan" @deletePlan="deletePlan"/>
      </v-col>
    </v-row>
  </div>
  <div v-else>
    Server not found!
  </div>
</template>

<script>
import ServerDetails from '@/components/Servers/ServerDetails';
import ServerDescription from '@/components/Servers/ServerDescription';
import ServerPlanList from '@/components/Servers/ServerPlanList';

export default {
  name: 'ManageServerPage',
  components: {
    ServerDetails,
    ServerDescription,
    ServerPlanList
  },
  props: {
    server: Object
  },
  methods: {
    deletePlan(planId) {
      this.server.plans = this.server.plans.filter(plan => plan.id !== planId);
    },

    addPlan(planDetails) {
      this.server.plans.push({
        id: '10',
        averageJoins: 10,
        ...planDetails
      });
    }
  }
}
</script>

<style scoped>

</style>
