<template>
  <div id="plans" class="text-center">
    <section-title class="mt-12 mb-8"
                   title="Advertisement Plans"
                   subtitle="Choose your advertising plan:"
                   :titleSize="mobile ? 'display-2' : 'display-3'" />
    <v-container>
      <plan-list />
    </v-container>
  </div>
</template>

<script>
import PlanList from '@/components/Plans/PlanList';
import SectionTitle from '@/components/SectionTitle';

export default {
  name: 'Plans',
  components: {
    SectionTitle,
    PlanList
  }
}
</script>

<style scoped>

</style>
