<template>
  <div id="servers" class="text-center">
    <section-title
      class="mt-12 mb-8"
      title="Buy Advertisements"
      subtitle="Choose what server to purchase from:"
      :titleSize="mobile ? 'display-2' : 'display-3'"
    />
    <v-container>
      <server-list :servers="servers" />
    </v-container>
  </div>
</template>

<script>
import SectionTitle from '@/components/SectionTitle';
import ServerList from '@/components/Servers/ServerList';

export default {
  name: 'Servers',
  components: {
    SectionTitle,
    ServerList,
  },
};
</script>

<style scoped>
</style>
