<template>
  <div id="server">
    <v-row class="ma-7">
      <v-col cols="12" md="6" class="px-4">
        <server-details :one-line-server-name="false" :title-size="mobile ? null : 'headline'" :server="server"
                        style="height: 15vh;"/>
        <server-description :value="server.description" class="mt-7" />
      </v-col>
      <v-col cols="12" md="6" class="px-4">
        <server-plan-list :plans="server.plans"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ServerDetails from '@/components/Servers/ServerDetails';
import ServerDescription from '@/components/Servers/ServerDescription';
import ServerPlanList from '@/components/Servers/ServerPlanList';

export default {
  name: 'ServerPage',
  components: {
    ServerPlanList,
    ServerDescription,
    ServerDetails
  }
}
</script>

<style scoped>
</style>
