<template>
  <v-card class="plan-item text-center py-8" :style="{ background: gradient }">
    <img
      src="@/assets/img/plan-icon.png"
      :alt="plan.name"
      class="mx-auto plan-icon"
      style="width: 100px"
    />
    <h1 class="display-3">{{ displayPrice }}</h1>
    <p class="subtitle-1 per-month">{{ period }}</p>
    <br class="separator mx-5" :style="{ borderColor: separatorColor }" />
    <h2 class="display-1">{{ plan.name }}</h2>
    <div class="title text-left mt-5 mx-5 description">
      <p v-for="(line, index) in plan.description" :key="index">- {{ line }}</p>
    </div>
    <div class="mt-12 mx-5 get-started">
      <v-btn
        rounded
        light
        x-large
        block
        elevation="5"
        :to="getStartedLink"
      >{{ isFree || doesUserHavePlan ? 'Get Started' : 'Purchase' }}</v-btn>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'PlanItem',
  props: {
    plan: {
      type: Object,
    },
  },
  computed: {
    separatorColor() {
      return this.plan.colors.separator;
    },

    gradient() {
      return `linear-gradient(180deg, ${this.plan.colors.gradient[0]} 0%, ${this.plan.colors.gradient[1]} 100%)`;
    },

    isFree() {
      return this.plan.price === 0;
    },

    displayPrice() {
      return this.valuePerStatus('Free', 'Owned', `$${this.price}`);
    },

    price() {
      return parseFloat(this.plan.price.toFixed(2));
    },

    period() {
      return this.valuePerStatus(
        'Forever',
        'You already own this plan',
        'Per Month'
      );
    },

    getStartedLink() {
      return this.isFree ? '/dashboard' : `/plans/${this.plan.id}`;
    },

    doesUserHavePlan() {
      return Math.random() > 0.5;
    },
  },
  methods: {
    valuePerStatus(ifFree, ifOwned, defaultValue) {
      if (this.isFree) return ifFree;
      if (this.doesUserHavePlan) return ifOwned;

      return defaultValue;
    },
  },
};
</script>

<style scoped>
.separator {
  display: block;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 3px !important;
  content: "";
  margin-bottom: 16px;
}

.plan-icon {
  mix-blend-mode: screen;
}

.per-month {
  opacity: 50%;
}

.description p {
  margin-bottom: 0;
}

.get-started button {
  font-size: 1.2rem;
}
</style>