<template>
  <v-row class="plan-list">
    <v-col v-for="plan in sortedPlans" :key="plan.id" lg="3" md="4"
           sm="6" cols="12">
      <plan-item class="hover-effect" :plan="plan" />
    </v-col>
  </v-row>
</template>

<script>
import PlanItem from './PlanItem';

export default {
  name: 'PlanList',
  components: {
    PlanItem,
  },
  data: () => ({
    plans: [
      {
        id: 'startup',
        name: 'Startup',
        weight: 1,
        price: 0,
        description: ['Sell for $25/month', 'Regular Support'],
        colors: {
          separator: '#f7dfab',
          gradient: ['#e9c79a', '#d7a15c'],
        },
      },
      {
        id: 'business',
        name: 'Business',
        weight: 2,
        price: 4.99,
        description: ['Sell for $200/month', 'Regular Support'],
        colors: {
          separator: '#d365ff',
          gradient: ['#bd62ff', '#7f5cff'],
        },
      },
      {
        id: 'premium',
        name: 'Premium',
        weight: 3,
        price: 9.99,
        description: ['Sell for $500/month', 'Regular Support +'],
        colors: {
          separator: '#a7ca4e',
          gradient: ['#a0c54f', '#15937f'],
        },
      },
      {
        id: 'professional',
        name: 'Professional',
        weight: 4,
        price: 14.99,
        description: ['Unlimited Sales', 'Regular Support +'],
        colors: {
          separator: '#ff9f6a',
          gradient: ['#ff8f4c', '#ec4172'],
        },
      },
    ],
  }),
  computed: {
    sortedPlans() {
      return [...this.plans].sort(
        (planOne, planTwo) => planOne.weight - planTwo.weight
      );
    },
  },
};
</script>

<style scoped>
.hover-effect {
  transition: transform 300ms;
}

.hover-effect:hover {
  transform: scale(1.015);
  transition: transform 300ms;
}
</style>
