<template>
  <div>
    <h1 class="section-title" :class="titleSize">{{ title }}</h1>
    <h2 v-if="subtitle" class="title mt-1 section-subtitle">{{ subtitle }}</h2>
    <br class="section-break mt-3 mx-auto" />
  </div>
</template>

<script>
export default {
  name: 'SectionTitle',
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String
    },
    titleSize: {
      type: String,
      default: 'dispaly-3'
    }
  }
}
</script>

<style scoped>
  .section-title {
    font-weight: 300 !important;
  }

  .section-subtitle {
    font-weight: 100 !important;
  }

  .section-break {
    display: block;
    border-top: white solid 1px;
    content: '';
    width: 130px;
  }
</style>