<template>
  <v-card class="plan text-center" color="accent" v-if="!editable">
    <v-card-title class="text-center pa-0"><h1 class="mx-auto headline font-weight-thin">{{ plan.name }}</h1></v-card-title>
    <v-card-text>
      <h2 class="display-2 font-weight-thin pa-1">
        <span class="primary--text">$</span>{{ plan.price }}
      </h2>
      <p class="font-weight-light">Average Joins: {{ plan.averageJoins }}</p>
      <v-btn color="primary" block>Buy</v-btn>
    </v-card-text>
  </v-card>
  <v-card class="plan col pa-1 ma-3" :class="{deleted}" color="secondary" v-else>
    <v-card-title class="d-flex justify-space-between">
      <div class="display-1 font-weight-thin mr-6">{{ plan.name }}</div>
      <div class="title font-weight-thin">Price: <span class="primary--text">$</span>{{ plan.price }}</div>
    </v-card-title>
    <v-card-text>{{ plan.description }}</v-card-text>
    <v-card-actions>
      <v-btn @click="editPlan">Edit</v-btn>
      <v-btn @click="deletePlan" color="red lighten-1">Delete</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ServerPlan',
  props: {
    plan: {
      type: Object,
      required: true
    },
    editable: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    deleted: false
  }),
  methods:{ 
    editPlan() {
      this.$emit('edit', this.plan.id);
    },

    deletePlan() {
      this.deleted = true;
      setTimeout(() => {
        this.$emit('delete', this.plan.id);
      }, 600);
    }
  }
}
</script>

<style scoped>
.plan {
  border: white 10px solid;
  max-height: 200px;
  height: auto;
  transition: max-height 600ms ease-out;
  overflow: hidden;
}

.deleted {
  max-height: 0;
}
</style>
