<template>
  <v-card color="accent">
    <v-card-title>{{ title }}</v-card-title>
    <v-row class="px-3" v-if="!editable">
      <v-col v-for="plan in plans" :key="plan.id">
        <server-plan class="hover-effect" :plan="plan"/>
      </v-col>
    </v-row>
    <v-col v-else>
      <v-row v-for="plan in plans" :key="plan.id">
        <server-plan :plan="plan" editable @edit="showEditPlanDialog" @delete="deletePlan"/>
      </v-row>
      <v-row>
        <v-btn class="col ma-3 add-plan" color="primary" x-large outlined
               @click="showAddPlanDialog">Add New</v-btn>
      </v-row>
    </v-col>
    <server-plan-dialog v-model="dialog" :mode="this.planToEdit ? 'edit' : 'create'" :initial-plan="planToEdit || undefined" @close="closeDialog"
                        @save-create="addPlan"/>
  </v-card>
</template>

<script>
import ServerPlan from '@/components/Servers/ServerPlan';
import ServerPlanDialog from '@/components/Servers/ServerPlanDialog';

export default {
  name: 'ServerPlanList',
  components: {
    ServerPlan,
    ServerPlanDialog
  },
  props: {
    plans: {
      type: Array,
      required: true
    },
    editable: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: 'Pick your plan'
    }
  },
  data: () => ({
    dialog: false,
    planToEdit: null
  }),
  methods: {
    showAddPlanDialog() {
      this.planToEdit = null;
      this.dialog = true;
    },

    deletePlan(planId) {
      this.$emit('deletePlan', planId);
    },

    showEditPlanDialog(planId) {
      this.planToEdit = this.plans.find(plan => plan.id === planId);
      this.dialog = true;
    },

    closeDialog() {
      this.dialog = false;
    },

    addPlan(planDetails) {
      this.$emit('addPlan', planDetails);
    }
  }
}
</script>

<style scoped>
.hover-effect {
  transition: transform 300ms;
}

.hover-effect:hover {
  transform: scale(1.02);
  transition: transform 300ms;
}

.add-plan {
  border-style: dashed;
  border-radius: 4px;
}
</style>
