<template>
  <v-card class="accent">
    <div class="py-1 ma-auto d-inline-flex" style="height: 100%; width: 100%;" v-if="server">
      <div v-if="showIcon" class="py-0" style="height: 100%;">
        <img :src="icon" style="border-radius: 20%; max-width: 30vw; max-height: 100%" />
      </div>
      <div class="information ml-4 my-auto" style="width: 100%;">
        <p :class="{'server-name--one-line-name': oneLineServerName, [titleSize]: true}">{{ server.name }}</p>
        <div class="members">
          <div class="d-flex online">
            <span class="mr-1 mb-0 primary--text">⬤</span>
            <p>{{ server.members.online }} online</p>
          </div>
          <div class="d-flex total">
            <span class="mr-1 mb-0 secondary--text text--lighten-3">⬤</span>
            <p>{{ server.members.total }} members</p>
          </div>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'ServerDetails',
  props: {
    server: Object,
    showIcon: {
      type: Boolean,
      default: true
    },
    oneLineServerName: {
      type: Boolean,
      default: true
    },
    titleSize: {
      type: String,
      default: null
    }
  },
  computed: {
    icon() {
      return `https://cdn.discordapp.com/icons/${this.server.id}/${this.server.icon}.webp?size=256`;
    }
  }
}
</script>

<style scoped>
.information {
  padding: 0;
  overflow: hidden;
}

.information p {
  margin-bottom: 0;
  text-align: start;
}

.information .members {
  font-size: 0.75rem;
  line-height: 0.9rem;
  font-weight: 100;
}

.information span {
  font-size: 0.5rem;
  margin-bottom: 10px;
}

.server-name--one-line-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
