<template>
  <v-dialog :value="value" @input="close" max-width="50vw">
    <v-card color="accent" class="pa-3">
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>
        <v-form class="px-10 pt-10">
          <v-text-field v-model="plan.name" label="Name" outlined/>
          <v-textarea v-model="plan.description" label="Description" outlined/>
          <div class="d-flex">
            <v-slider v-model="plan.price" label="Price" min="1" max="100">
              <template v-slot:append>
                <v-text-field v-model="plan.price" style="width: 50px;" hide-details single-line
                              type="number" min="1" max="100" class="mt-0 pt-0"></v-text-field>
              </template>
            </v-slider>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="save">Create</v-btn>
        <v-btn @click="close">Discard</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ServerPlanDialog',
  props: {
    title: {
      type: String,
      default: 'New Server Plan'
    },
    value: {
      type: Boolean,
      default: false
    },
    mode: {
      type: String,
      default: 'create'
    },
    initialPlan: {
      type: [Object, null],
      default: undefined
    }
  },
  data: () => ({
    plan: {
      name: '',
      description: '',
      price: 1
    }
  }),
  watch: {
    initialPlan(newValue) {
      this.plan = newValue ? newValue
        : {
          name: '',
          description: '',
          price: 1
        };
    }
  },
  methods: {
    save() {
      this.$emit(`save-${this.mode}`, this.plan);
      this.close();
    },

    close() {
      this.$emit('close');
    }
  }
}
</script>

<style scoped>

</style>