<template>
  <div>
    <v-row justify="space-between">
      <v-col cols="12" sm="5" md="4" lg="3"
             xl="2">
        <v-text-field
          v-model="search"
          placeholder="Search"
          solo
        />
      </v-col>
      <v-col cols="12" sm="5" md="4" lg="3"
             xl="2">
        <v-select
          v-model="selectedSortOption"
          placeholder="Sort"
          solo
          :items="sortOptions"
          item-text="display"
          :return-object="true"
        />
      </v-col>
    </v-row>
    <v-row v-if="servers">
      <v-col v-for="(server, index) in formattedServers" lg="3" md="4" sm="6"
             cols="12" :key="index"
             style="height: 250px">
        <server-item class="hover-effect" :server="server" style="height: 100%"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { sortOptions } from '@/models/SortOption';
import ServerItem from '@/components/Servers/ServerItem';

export default {
  name: 'ServerList',
  components: {
    ServerItem
  },
  props: {
    servers: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    selectedSortOption: sortOptions[0],
    search: ''
  }),
  computed: {
    sortOptions() {
      return sortOptions;
    },
    formattedServers() {
      return this.sortServers(this.filteredServers, this.selectedSortOption);
    },
    filteredServers() {
      if (!this.search) {
        return [...this.servers];
      }

      return this.filterServers(this.servers, this.search);
    }
  },
  methods: {
    filterServers(servers, text) {
      return servers.filter(server => server.name.toLowerCase().includes(text.toLowerCase()));
    },

    sortServers(servers, { field:fieldName, direction }) {
      return servers.sort((a, b) =>
        a[fieldName].toString().localeCompare(b[fieldName].toString()) * direction);
    }
  }
}
</script>

<style scoped>
.hover-effect {
  transition: transform 300ms;
}

.hover-effect:hover {
  transform: scale(1.02);
  transition: transform 300ms;
}
</style>
