<template>
  <v-card class="secondary py-3">
    <server-details class="mx-3" :server="server" style="height: 30%"/>
    <p class="price mt-2"><span class="primary--text">$</span>{{ server.price }}</p>
    <p class="average-joins">Average joins: <span class="primary--text">{{ server.averageJoins }}</span></p>
    <div class="px-3">
      <v-btn class="primary--text accent" block :to="serverPage">Read More</v-btn>
    </div>
  </v-card>
</template>

<script>
import ServerDetails from './ServerDetails';

export default {
  name: 'ServerItem',
  components: {
    ServerDetails
  },
  props: {
    server: Object
  },
  computed: {
    serverPage() {
      return `/servers/${this.server.id}`;
    }
  }
}
</script>

<style scoped>
.price {
  font-size: 2rem;
  margin-bottom: 4px;
}

.average-joins {
  margin-top: 4px;
  font-weight: 100;
  font-size: 1.2rem;
}
</style>