<template>
  <v-card class="mt-7 accent">
    <v-card-title class="title text--secondary">Description</v-card-title>
    <v-card-text v-if="isEditMode">
      <v-form>
        <v-textarea
          v-model="description"
          ref="input"
          :rules="rules"
          class="text-left"
          rows="1"
          :counter="MAX_DESCRIPTION_LENGTH"
          clearable
          auto-grow
          outlined
          hide-details="auto"
        />
      </v-form>
      <v-card-actions class="pa-0 mt-1">
        <v-btn class="primary" @click="save">Save</v-btn>
        <v-btn class="secondary" @click="cancel">Cancel</v-btn>
      </v-card-actions>
    </v-card-text>
    <v-card-text class="subtitle-1 text--primary" v-else>
      <p class="description-paragraph">{{ value }}</p>
      <v-card-actions v-if="editable" class="pa-0 mt-4">
        <v-btn @click="edit">Edit</v-btn>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>

<script>
import { MIN_DESCRIPTION_LENGTH, MAX_DESCRIPTION_LENGTH } from '@/constants';

export default {
  name: 'ServerDescription',
  props: {
    value: String,
    editable: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    rules: [
      (value) => (!value ? 'Description cannot be empty!' : true),
      (value) =>
        value || value.length < MIN_DESCRIPTION_LENGTH
          ? `Description must be at least ${MIN_DESCRIPTION_LENGTH} characters long!`
          : true,
      (value) =>
        value || value.length > MAX_DESCRIPTION_LENGTH
          ? `Description cannot be more than ${MAX_DESCRIPTION_LENGTH} characters long!`
          : true,
    ],
    MAX_DESCRIPTION_LENGTH,
    oldDescription: undefined,
    isEditMode: false
  }),
  methods: {
    edit() {
      this.oldDescription = this.description;
      this.isEditMode = true;
    },

    cancel() {
      this.description = this.oldDescription;
      this.isEditMode = false;
    },

    save() {
      if (this.$refs['input'].validate()) {
        return;
      }

      this.isEditMode = false;
      this.$emit('save', this.description);
    }
  }
}
</script>

<style scoped>
.description-paragraph {
  white-space: pre-line;
}
</style>
