<template>
  <v-tooltip v-if="isLoggedIn" bottom>
    <template slot="activator" slot-scope="{ on }">
      <button v-on="on" @click="logout" :class="buttonClass">
        <v-avatar>
          <img :src="profilePicture" />
        </v-avatar>
      </button>
    </template>
    <span>Logout</span>
  </v-tooltip>
  <v-tooltip v-else bottom>
    <template slot="activator" slot-scope="{ on }">
      <button
        v-on="on"
        icon
        @click="login"
        :class="buttonClass"
        class="v-btn v-btn--flat v-btn--icon v-btn--round theme--dark v-size--default"
      >
        <v-icon>lock_open</v-icon>
      </button>
    </template>
    <span>Login</span>
  </v-tooltip>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'LoginLogout',
  props: {
    buttonClass: {
      type: String,
      required: false,
    },
  },
  data: () => ({
    user: {},
  }),
  computed: {
    profilePicture() {
      return this.user && this.user.avatar
        ? this.user.avatar
        : require('@/assets/img/discord-placeholder.jpg');
    },
    ...mapGetters(['isLoggedIn']),
  },
  methods: {
    logout() {
      this.resetToken();
    },
    login() {
      this.$router.push({ name: 'Login' });
    },
    ...mapActions(['resetToken', 'setToken']),
  },
};
</script>
