<template>
  <v-app-bar id="navbar">
    <router-link to="/" tag="img" style="cursor: pointer"
                 :src="require('@/assets/img/icon.png')" height="40"></router-link>
    <v-spacer />
    <auth-button />
  </v-app-bar>
</template>

<script>
import AuthButton from './AuthButton';

export default {
  name: 'Navbar',
  components: {
    AuthButton
  }
}
</script>

<style lang="scss" scoped>
#navbar {
  padding: 20px 10px;
}
</style>